.not-found-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.not-found-img {
  width: 400px;
}

.not-found-h1 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}

.not-found-p {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 200;
}
