.main-card {
  display: flex;
  flex-direction: column;
}

.h1 {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
}

.list-card {
  list-style-type: none;
  padding: 0;
}

.li {
  margin-bottom: 12px;
}

.label {
  color: #ffffff;
  margin-left: 8px;
}
